@tailwind base;
@tailwind components;
@tailwind utilities;

.colored-toast.swal2-icon-error {
  background-color: #f54242 !important;
  color: white;
}

.tableChild:nth-child(2n) {
  background: white;
}